:root {
  --black-500: #141417;
  --gray-500: #cccccc;
  --gray-600: #a5a4a4;
  --red-500: #e50914;
  --white: #ffffff;
}

* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-500);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

header nav a {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
  transition: 0.3ms linear all;
}

header nav a:hover {
  color: var(--gray-500);
}

button {
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3ms linear all;
}

button i {
  margin-right: 4px;
}

button:hover {
  opacity: 0.6;
}

footer {
  max-width: 900px;
  height: 300px;
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent 100%);
  position: fixed;
  transition: 0.3ms linear all;
  z-index: 9;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu img {
  margin-right: 50px;
  cursor: pointer;
}

.main-movie {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), #141417 90%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 50px;
}

.main-movie .sinopse {
  width: 40%;
}
.main-movie .sinopse p {
  font-size: 18px;
}

.main-movie h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.btn-container {
  margin-top: 20px;
}

.btn-primary {
  background-color: var(--white);
  color: var(--black-500);
}
.btn-secondary {
  background-color: rgba(143, 142, 142, 0.3);
  color: var(--white);
}

.films-carousel {
  width: 100%;
  padding: 0 0 50px 50px;
  margin-top: -200px;
}

.films-carousel h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.film-image {
  width: 300px;
  height: 160px;
  border-radius: 4px;
  cursor: pointer;
}

.social-media {
  margin-top: 50px;
  margin-bottom: 16px;
}

.social-media i {
  margin: 0 10px;
  cursor: pointer;
}

.links-container {
  display: flex;
  justify-content: space-between;
}

.links-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.links-container div a {
  color: var(--gray-600);
  font-size: 14px;
  text-decoration: none;
}

.links-container div a:hover {
  text-decoration: underline;
}

.codigo-servico {
  margin-top: 20px;
}

.codigo-servico button {
  border: 1px solid var(--gray-600);
  color: var(--gray-600);
  background: transparent;
  border-radius: 0;
  margin-bottom: 10px;
}

.codigo-servico p {
  color: var(--gray-600);
  font-size: 14px;
}
.codigo-servico button:hover {
  color: var(--white);
}
